/* HEADER */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 10%;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 8%;
  list-style: none;
  background-color: rgb(60, 115, 216);
  padding: 20px 0px;
  margin-bottom: 10px;
}

.navbar li::marker {
  content: none;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.banner {
  display: flex;
}

.banner img {
  width: 50%;
}

/* BODY */

/* MANGO BEACH */
.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(0, 213, 255);
}

.sec1 {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 0px 30px 0px 20px;
}

.sec1-left {
  width: 48%;
}

.sec1-left img {
  width: 100%;
  height: max-content;
}

.sec1-right {
  width: 50%;
  margin-top: 0px;
}

.sec1-images {
  display: flex;
  gap: 5px;
}

.sec1-images img {
  width: 50%;
  height: 300px;
}

.sec1-right h2 {
  text-align: center;
  margin: 20px 0 20px 0;
  color: orange;
  font-size: 28px;
}

.sec1-right p {
  text-align: justify;
  font-size: 21px;
  line-height: 1.8;
}

.book {
  margin-top: 20px;
  text-align: right;
}

.book a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  background-color: rgb(0, 213, 255);
  border-radius: 5px;
  text-align: center;
  padding: 0.9em 9px;
}

/* MUINE BAY RESORT */
.sec2 {
  display: flex;
  padding: 0px 30px 0px 20px;
  gap: 10px;
  align-items: stretch;
}

.sec2-images {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec2-front {
  display: flex;
  gap: 10px;
  height: 500px;
}

.sec2-front-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec2-front-right {
  width: 92%;
}

.sec2-front-left img {
  width: 100%;
  height: calc(50% - 5px);
  object-fit: cover;
}

.sec2-front-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec2-under {
  display: flex;
  gap: 10px;
  height: 250px;
}

.sec2-under img {
  width: calc(25% - 7.5px);
  height: 100%;
  object-fit: cover;
}

.sec2-content {
  background-color: #615652;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  color: white;
}

.sec2-content ul {
  padding: 10px 35px;
  line-height: 2;
  font-size: 20px;
}

.sec2-content li {
  list-style: circle;
}

/* RESORTS AND VILLAS */
.sec3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 0 20px 0 20px;
}

.sec3-images {
  width: 25%;
  position: relative;
}

.sec3-images img {
  width: 100%;
}

.sec3-content {
  width: 100%;
  height: max-content;
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
  padding: 20px 0;
  color: white;
  font-size: 19px;
  background-color: rgba(193, 189, 189, 0.4);
}

/* FOOTER */
.footer {
  display: flex;
  margin-top: 20px;
  background-color: #1482b9;
  color: white;
  padding: 20px;
  justify-content: center;
}

.footer p {
  padding: 10px 0;
  text-align: left;
}
